@import "../../../../fonts/scss/font-awesome.scss";

body {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.42;
}

strong {
  font-weight: 700;
}
a {
  color: #666;
  text-decoration: none;
}
li {
  list-style: none;
}
